= form_for @pin do |f|
  - if @pin.errors.any?
    %h2= pluralize(@pin.errors.count, 'error')
    %ul
      - @pin.errors.full_messages.each do |msg|
        %li= msg
  = f.label :title
  .form-group
  = f.text_field :title, class: 'form-control'
  = f.label :image
  .form-group
  = f.file_field :image
  = f.label :description
  .form-group
  = f.text_area :description, class: 'form-control'
  %br/
  = f.submit