= @pin.title 
%p= @pin.user.email
%br/
= @pin.description
= link_to 'edit', edit_pin_path
= link_to 'destroy', pin_path(@pin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'